<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>527504144105-4kpkdcjnqj0a3ina40hgen6sdjajuko2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCw12lgxWuNSyzY5WL0pCQ5GAX0CtV6muU</string>
	<key>GCM_SENDER_ID</key>
	<string>527504144105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatAppFlutter</string>
	<key>PROJECT_ID</key>
	<string>chatapp-ae799</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-ae799.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527504144105:ios:d4a373060315eb9b43e278</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-ae799.firebaseio.com</string>
</dict>
</plist>